<div class="menu">
    <a class="menuIcon"><span class="icon-btnMenu"></span>CONNECT</a>
</div>
<header>
    <nav>
        <ul>
            <li><a [routerLink]="['/auth/login']"><span class="icon-New"></span></a>Login</li>
            <li><a [routerLink]="['/profile']"><span class="icon-Solve"></span></a>Profile</li>
            <li><a [routerLink]="['/profiles/edit']"><span class="icon-Preferences"></span></a>Edit</li>
            <li><a><span class="icon-Exit"></span></a>Exit</li>
        </ul>
    </nav>
</header>