<div>
    <h2>Create Animal</h2>
    <form (ngSubmit)="create(myForm)" #myForm="ngForm" novalidate method="">

        <div class="field">
            <label>Type</label>
            <select [(ngModel)]="animal.type" name="typelist" #myType="ngModel" required [disabled]="processing">
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
                <option value="turtle">Turtle</option>
                <option value="cow">Cow</option>
                <option value="snake">Snake</option>
                <option value="sheep">Sheep</option>
                <option value="chicken">Chicken</option>
                <option value="donkey">Donkey</option>
                <option value="wolf">Wolf</option>
            </select>
            <div *ngIf="feedbackEnabled && myType.errors">
                <p *ngIf="myType.errors.required" class="validation">Type required</p>
            </div>
        </div>

        <div class="field" [ngClass]="{'has-error': feedbackEnabled && myName.errors}">
            <label>Name</label>
            <input type="text" name="name" [(ngModel)]="animal.name" #myName="ngModel" required [disabled]="processing" />
            <div *ngIf="feedbackEnabled && myName.errors">
                <p *ngIf="myName.errors.required" class="validation">Name required</p>
            </div>
        </div>

        <div class="field" [ngClass]="{'has-error': feedbackEnabled && myName.errors}">
            <label>Description</label>
            <input type="textArea" name="description" [(ngModel)]="animal.description" #myDescription="ngModel" required [disabled]="processing" />
            <div *ngIf="feedbackEnabled && myName.errors">
                <p *ngIf="myName.errors.required" class="validation">Name required</p>
            </div>
        </div>

        <p>Basic Information</p>
        <hr>

        <div class="field">
            <label>Urgent</label>
            <select name="urgentList" [(ngModel)]="animal.urgent" #myType="ngModel" required [disabled]="processing">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>

        <div class="field">
            <label>Apt to Adopt</label>
            <select name="adoptList" [(ngModel)]="animal.adopt" #myType="ngModel" required [disabled]="processing">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>

        <div class="field">
            <label>Donate</label>
            <select name="donateList" [(ngModel)]="animal.donate" #myType="ngModel" required [disabled]="processing">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
        </div>

        <div class="field submit">
            <button type="submit" [disabled]="processing">Create</button>
            <div *ngIf="feedbackEnabled && myForm.invalid">
                <p class="validation">there are errors in the form, please review the fields</p>
            </div>
        </div>
    </form>
</div>