<div>
    <h2>Create Animal</h2>
    <form (ngSubmit)="Create(myForm)" #myForm="ngForm" novalidate>

        <div class="field" [ngClass]="{'has-error': feedbackEnabled && myName.errors}">
            <label>Name</label>
            <input type="text" name="name" [(ngModel)]="animal.name" #myName="ngModel" required [disabled]="processing" />
            <div *ngIf="feedbackEnabled && myName.errors">
                <p *ngIf="myName.errors.required" class="validation">Name required</p>
            </div>
        </div>

        <div class="field" [ngClass]="{'has-error': feedbackEnabled && myPassword.errors}">
            <label>Password</label>
            <input type="password" name="password" [(ngModel)]="user.password" #myPassword="ngModel" required minlength="8" [disabled]="processing" />
            <div *ngIf="feedbackEnabled && myPassword.errors">
                <p *ngIf="myPassword.errors.required" class="validation">password required</p>
                <p *ngIf="myPassword.errors.minlength" class="validation">password is too short</p>
            </div>
        </div>

        <div class="field submit">
            <button type="submit" [disabled]="processing">Create</button>
            <div *ngIf="feedbackEnabled && myForm.invalid">
                <p class="validation">there are errors in the form, please review the fields</p>
            </div>
        </div>
    </form>
</div>